
.map-view{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%; 
}

#GoogleMap {
    margin: auto;
}

.main-map{
    background-color: blue;
    height: 90vh;
    width: 100%;
}

.footer-map {
    height: 6vh;
  }
  
.button-commute
{
    position: relative;
    z-index: 1;
    margin: auto;
    background-color: #F95FAE;
    width: 100%;
    height: 6rem;
    border-radius: 5px 5px 15px 15px;
    color: #fff;
    margin: auto;
    align-items: center;
    display: flex;
    justify-content: center;
}

.button-route{
    position: relative;
    z-index: 2;
    background-color: #fff;
    width: 80%;
    top: -20px;
    border-radius: 20px;
    display: flex;
    margin: auto;
    padding: 10px;
}

.h2-route{
    /* display: flex; */
    margin: auto;
    text-align: left;
    font-size: 14px;
    padding: 5px;
}

::marker {

    color:#746BF7;
    font-size: 20px;
    margin-right: -10px;
}

.h4-route{
    display: flex;
    /* text-align: center;
    justify-content: center; */
}