body{
    height: 100vh;
    max-height: 100vh;
    overflow: hidden;
}

.map-view{
    position: fixed;
    top: 0;
    left: 0;
    height: 90vh;
    width: 100%; 
}

#GoogleMap {
    margin: auto;
}

.main-map{
    background-color: blue;
    width: 100%;
    height: 90vh;
}

  
.button-commute
{
    position: relative;
    z-index: 1;
    margin: auto;
    background-color: #1E293B;
    width: 100%;
    height: 6rem;
    border-radius: 0 0 15px 15px;
    color: #fff;
    margin: auto;
    align-items: center;
    display: flex;
    justify-content: center;
}

.Contenedor-map{
    height: 100%;
}

.button-route{
    position: relative;
    z-index: 2;
    background-color: #fff;
    width: 80%;
    top: -20px;
    border-radius: 20px;
    display: flex;
    margin: auto;
    padding: 10px;
}

.h2-route{
    /* display: flex; */
    margin: auto;
    text-align: left;
    font-size: 14px;
    padding: 5px;
}

::marker {

    color:#746BF7;
    font-size: 20px;
    margin-right: -10px;
}

.h4-route{
    display: flex;
    /* text-align: center;
    justify-content: center; */
}


.footer-map.clicked {
    height: 30vh;
    transform: translateY(-20vh); 
    transition: all 0.5s ease-in-out;
    overflow: hidden;   
  }
  
  #user-real.clicked{
    margin: 10px;
  }
  .username.clicked{
    margin: 10px;
  }


.navbar-map{
    height: 30vh;
    transform: translateY(-20vh); 
    justify-content: space-evenly;
    width: 100%;
    color: white;
    display: flex;
    z-index: 4;
    position: absolute;
    align-items: center;
}


.footer-map
{
    z-index: 3;
    position: relative;
    background-color: #746BF7;
    display: flex;
    height: 10vh;
    border-radius: 15px 15px 0 0;
    overflow: hidden;
}


.img-user{
    border-radius: 50%;
    border: 3px solid #FFC107;
    margin: auto 10px;
    padding: 5px;
    background-color: #FFF;
}

#user-real{
    height: 5vh;
}
.username{
    color: #FFF;
    font-size: 14px;
    margin: auto 10px;
    height: 5vh;
    display: flex;
    align-items: center;
}