  .full-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: inter;
    color: #000;
    
  }

  .main-resetpwd {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 40vh;
  }
  
  .primary-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .heading-resetpwd {
    font-size: 25px;
    text-align: left;
    margin-bottom: 10px;
  }

  .full{
    padding: 20px;
  }

  .header-helenk img{
    margin: 20px auto;
    
  }
  
  .subheading-resetpwd{
    color: #7c7a81;
    text-align: left;
    font-size: 20px;
    
  }

  .form-container {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    width: 100%;
    height: 40vh;
  }
  
  .form-label {
    font-weight: 500;
  }
  
  .email-form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 40vh;
  }
  
.form-input {
  width: 100%;
  border-radius: 15px;
  border: 1px solid #696973;
  padding: .5rem;
  font-size: 15px;
  display: flex;
  margin: 20px 0 0 0;
}
.mantine-Autocomplete-wrapper {
  width: 100%;
}

.mantine-6kqrk6[data-with-icon]{
  padding-left: 3rem;
}
  
.mantine-1vq8ow9[data-with-icon]
{
  padding-left: 3rem;
}

  .form-button {
    width: 60%;
    padding: 1rem;
    background-color: #1E293B;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-weight: 500;
    margin: 10px 0 0 0;
  }
  

  *{
    font-weight: 100;
    font-family: 'Myriad Pro', sans-serif;
    padding: 0;
    margin: 0;
    font-size: 18px;
    box-sizing: border-box;
  }
  /*HEADER*/
  
  .header
  {
  
    padding: 10px;
    margin-bottom: 5px;
    position: sticky;
    background:#115A9D;
  }
  
  .marca 
  {
    text-align: center;
  height: webkit-fill-available;
  }
  .marca img
  {
    
    margin-top: 5px;
    
  }
  
  
  .header-nav
  {
  
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    position: sticky;
    height: 60px;
    text-align: center;
  }
  .header a
  { 
    text-decoration: none;
    color: #fff;
    list-style: none;
  
  
  }
  
  .header-lista
  {
     display: flex;
     flex-direction: row;
    margin: 0 auto;	 
    align-items: center;
  }
  
  .header-enlace
  {
    display: flex;
    text-decoration: none;
    list-style: none;
    flex-direction: row;
    padding: 0px 50px 0 50px;
  
  }
  
  .separator {
    border: 1px solid white;
    height: 360px;
    margin-bottom: 40px;
    margin-top: 40px;
    list-style: none;
    width: 0;
  }
  
  .separator-nav
  {
    border: 1px solid white;
    height: 60px;
    margin-bottom: 40px;
    margin-top: 40px;
    list-style: none;
    width: 0;
  }
  
  .header-lista i{
    font-size: 25px;
    color: #fff;
  }
  
  .header-enlace a:hover
  {
    color: #FFD700;
    transition:  color, font-size .5s;
    font-size: 19px;
  }
  .header-enlace i:hover
  {
    color:#FFD700;
    transition:  color, font-size .5s;
    font-size: 33px;
  }
  
  .maps
  {
    text-align: center;
    width: 90%;
    margin:2em auto;
  }
  
  /*MAIN*/
  
  
  body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  .commutes {
    align-content: stretch;
    color: #202124;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: Arial, sans-serif;
    height: 30em;
    min-height: 456px;
    min-width: 360px;
    overflow: auto;
    width: 100%;
  }
  
  .commutes-map {
    flex: 1;
    overflow: hidden;
    position: relative;
    width: 100%;
  }
  
  .commutes-map .map-view {
    background-color: rgb(229, 227, 223);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
  
  .hide {
    display: none;
  }
  
  /* FOOTER */
  .footer
  {
    background-color: #115A9D;	
    padding: 5px;
    display: flex;
  }
  .marca-footer{
    display: flex;
    align-items: center;
    margin-bottom: -60px;
  }
  
  
  
  
  .contenedor-footer
  {
    
    padding:  0 300px;
    margin: auto;
  }
  
  .contenedor-footer-informacion
  {
    margin-left: 20px;
  }
  
  #email
  {
    margin-left: auto;
  }
  
  #phone
  {
    margin-left: 25px ;
  }
  
  .input-email
  {
    color: #333;
    border: none;
    height: 2.5em;
    padding: 0.5em 2em 0.5em 1em;
    width: 545px;
    border-radius: 45px;
  }
  
  
  #button_commute
  {
    position: absolute;
    background-color: #115A9D;
    color: #fff;
    padding: .5em;
    border-radius: 5px;
    border: none;
    margin: 10px 20px;
    z-index: 1;
  }
  
  .button
  {
    background-color: #FFD700;
    color: #FFD700;
      padding: 0 35px;
      font-size: 1em;
      border-radius: 45px;
      position: absolute;
      height: 45px;
      margin-top: 0;
       margin-left: -100px;
      width: 100px;
      border: none;
  }
  
  .contenedor-input
  {
    text-align: center;
  }
  
  .button:hover
  {
    background-color: #e5be01;
    transition: background-color .5s;
    
  }
  
  
  .compañeros
  {
    display: flex;
  }
  
  .compañeros-h2
  {
    margin-top: 50px;
    font-size: 25px;
    color: #fff;
  }
  
  .compañeros-img img
  {
    
    padding: 25px;
    height: 40%;
    margin-top: 70px;
    object-fit: fill;
  
  }
  
  #CilsaLogo
  {
      padding: 20px;
    height: 200px;
    margin-top: 70px;
    object-fit: fill;
    width: 470px;
  }
  
  #FatimaLogo
  {
      padding: 20px;
    height: 200px;
    margin-top: 70px;
    object-fit: fill;
    width: 200px;
  }
  
  .email
  {
    color: #ffffff;
    margin: 5px;
  }
  
  .telefono
  {
    color: #fff;
    margin: 5px;
  }
  
  
  
  .contactarse-enlace {
    font-size: 20px;
    color: #FFD700;
    font-weight: 900;
  
  
  }
  
  
  
  .contactarse-enlace img{
    height: 72px;
    margin-right: 10px;
  
  
  }
  
  .contactarse-enlace span {
    font-size: 20px;
    color: #FFF	;
  
  
  }
  
  .datos
  {
    display: flex;
    flex-direction: column;
    text-align: center;
  
  }
  
  
  
  .recibir-msg
  {
    list-style: none;
  
  }
  
  .separator-contacto
  {
  
    border-top: 5px solid #FFD700;
    width: 10%;
    margin-bottom: 5px;
  
  }
  .separator-contacto-2
  {
  
    border-bottom: 5px solid #FFD700;
    width: 10%;
    margin-top: 25px;
    
  }
  .separator-contacto-3
  {
  
    border-bottom: 5px solid #FFD700;
    width: 8%;
    margin-top: 5px;
    
  }
  
  
  .contactarse{
  display: flex;
  list-style: none;
  }
  
  .separator.contactarse-separator {
    height: 0;
    width: 100%;
  }
  
  .separator.horizontal
  {
  
    border-bottom: 1px solid white;
    height: 0;
    margin-bottom: 40px;
    margin-top: 40px;
    width: 100%;
  }
  
  .compañeros-img
  {
    display: flex;
  }
  
  
  .contactarse-enlace
  {
    text-align:justify;
    align-self: center;
  }
  
  .correo-electronico
  {
    font-size: 25px;
    font-weight: 900;
    list-style: none;
    color: #FFD700;
    text-align: center;
  }
  .correo-electronico-blanco
  {
    font-size: 24px;
    margin: auto;
    font-weight: 900;
    list-style: none;
    color: #FFF;
    text-align: center;	
  }
  
  .separator-class
  {
    margin-left: 20px;
  }
  
  
  /*CONTACTO.HTML*/
  /*MAIN*/
  .main
  {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  
  
  
  
  .h1-contactanos
  {
  
    font-size: 25px;
    color: #5C98BD;
    font-weight: 600;
    margin-bottom: -1px;
  
  }
  
  .h1-contactanos-preguntas
  {
    font-size: 25px;
    color: #5C98BD;
    font-weight: 600;
    
  }
  
  .h1-contactanos_2 
  {
  
    font-size: 25px;
    color: #5C98BD ;
    font-weight: 600;
    margin-top: -10px;
  }
  
  
  .p-contacto 
  {
    color: #000;
    font-size: 20px;
  }
  
  #directorio
  {
    
    font-weight: 600;
    color:#5C98BD;
    font-size: 25px;
  
    
  }
  
  
  .MAIN
  {
    text-align: justify;
    margin-left: 40px;
  
  }
  
  
  
  #separator-directorio
  {
    margin-top: 10px;
    margin-bottom: 0;
  }
  
  .preguntas
  {
    background-color: #D4E5F0;
    padding: 10px 10px 10px 10px;
    cursor: pointer;
    color:#5C98BD;
    font-size: 20px;
  
  }
  
  
  .formulario a 
  {
    color:#5C98BD;
    font-size: 25px;
  
  }
  
  
  
  .acordeon
  {
    height: auto;
    text-align: justify;
    max-width: 706px;
    font-size: 20px	;
    letter-spacing: 3%;
    background-color: #E7EFF5;
    padding: 10px;
  }
  .active, .preguntas:hover {
    background-color: #ccc;
      transition: 0.4s
  }
  
  
  
  
  
  
  .footer-responsive
  {
    display: none;
  }
  
  
  
  
   
  
  
  
   @media screen and (min-width: 1818px)
   {
      
  
  }
  
  
  @media screen and (max-width: 1700px)
  {
  
  
  
  
    .contenedor-footer
    {
      padding: 100px;
    }
  
  
  
  #img{
  margin-right: 50px;
  }
  }
  
  @media screen and (max-width: 1300px)
  {
    
  }
  
  
  
   @media screen and (max-width: 1000px)
   {
  
  
   .footer
   {
     display: none;
   }
  
  .telefono-li
  {
    display: flex;
    margin-bottom: 80px;
  }
  .email-li
  {
    display: flex;
  }
  
  .footer-responsive
  {
    background-color: #115A9D;	
    padding: 5px;
    display: flex;
  }
  .marca-footer-responsive{
    display: flex;
    align-items: center;
  }
  
  .marca-footer-responsive img{
    height: 400px;
  
  }
  
  .marca-footer-responsive .separator-responsive {
    height: 30vw;
  }
  
  
  .contenedor-footer-responsive
  {
    
    padding: 70px;
    margin: auto;
  }
  
  .contenedor-footer-informacion-responsive
  {
    margin-left: 20px;
  }
  
  #email-responsive
  {
    margin-left: auto;
  }
  
  #phone-responsive
  {
    margin-left: 25px ;
    margin-bottom: 25px;
  }
  
  .input-email-responsive
  {
    color: #333;
    border: none;
    height: 2.5em;
    padding: 0.5em 2em 0.5em 1em;
    width: 40vw;
    border-radius: 45px;
  }
  
  .button-responsive
  {
      background-color: #FFD700;
      color: #FFD700;
      padding: 0 35px;
      font-size: 1em;
      border-radius: 45px;
      position: absolute;
      height: 45px;
       right: 245px;
      width: 100px;
      border: none;
  }
  
  
  
  .button-responsive:hover
  {
    background-color: #e5be01;
    transition: background-color .5s;
    
  }
  
  .contenedor-input-responsive
  {
    text-align: center;
  }
  .compañeros-responsive
  {
    display: flex;
  }
  
  .compañeros-h2-responsive
  {
    margin-top: 50px;
    font-size: 25px;
    color: #fff;
  }
  
  .compañeros-img-responsive img
  {
    
    padding: 20px;
    height: 40%;
    margin-top: 70px;
    object-fit: fill;
  
  }
  
  
  .email-responsive
  {
    color: #ffffff;
    margin: 5px;
  }
  
  .telefono-responsive
  {
    color: #fff;
    margin: 5px;
  }
  
  
  
  .contactarse-enlace-responsive {
    font-size: 20px;
    color: #FFD700;
    font-weight: 900;
  
  
  }
  
  
  
  .contactarse-enlace-responsive img{
    height: 72px;
    margin-right: 10px;
  
  
  }
  
  .contactarse-enlace-responsive span {
    font-size: 20px;
    color: #FFF	;
  
  
  }
  
  .datos-responsive
  {
    display: flex;
    flex-direction: column;
    text-align: center;
  
  }
  
  
  
  .recibir-msg-responsive
  {
    list-style: none;
  
  }
  
  .separator-contacto-responsive
  {
  
    border-top: 5px solid #FFD700;
    width: 10%;
    margin-bottom: 5px;
  
  }
  .separator-contacto-2-responsive
  {
  
    border-bottom: 5px solid #FFD700;
    width: 10%;
    margin-top: 25px;
    
  }
  .separator-contacto-3-responsive
  {
  
    border-bottom: 5px solid #FFD700;
    width: 8%;
    margin-top: 5px;
    
  }
  
  
  .contactarse-responsive{
  list-style: none;
  margin: auto;
  
  }
  
  .separator.contactarse-separator-responsive {
    height: 0;
    width: 100%;
  }
  
  .separator.horizontal-responsive
  {
  
    border-bottom: 1px solid white;
    height: 0;
    margin-bottom: 40px;
    margin-top: 40px;
    width: 100%;
  }
  
  .compañeros-img-responsive
  {
    display: flex;
  }
  
  
  .contactarse-enlace-responsive
  {
    text-align:justify;
  
  }
  
  .correo-electronico-responsive
  {
    font-size: 25px;
    font-weight: 900;
    list-style: none;
    color: #FFD700;
    text-align: center;
  }
  .correo-electronico-blanco-responsive
  {
    font-size: 24px;
    margin: auto;
    font-weight: 900;
    list-style: none;
    color: #FFF;
    text-align: center;	
  }
  
  }
  
  @media screen and (max-width: 850px)
  {
    
  }
     
  
  
  